# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.venv/
.hypothesis/
.pytest_cache/

# CDK
cdk.out/
cdk.context.json
cdk/node_modules/
cdk/dist/
cdk/cdk.out/
cdk/package-lock.json

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Kiro
.kiro/
